.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Raleway', sans-serif;
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
}

.booking-form {
	background: #1a1b1d;
	max-width: 768px;
	width: 100%;
	margin: auto;
	padding: 30px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: transparent;
	height: 65px;
	padding: 0px 15px;
	border-radius: 0px;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	color: #fff;
	border: 0px;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #4d4d4d;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-control::placeholder {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form .form-group.input-not-empty .form-control {
	border-color: #fff;
	padding-bottom: 20px;
}

.booking-form .form-label {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 14px;
	position: absolute;
	left: 0;
	bottom: 0px;
	opacity: 0;
	pointer-events: none;
	display: block;
	width: 100%;
	background: #4d4d4d;
	padding: 0px 15px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-group.input-not-empty .form-label {
	opacity: 1;
	bottom: 0px;
	color: #1a1b1d;
	background: #fff;
}

.booking-form input[type="date"].form-control,
.booking-form input[type="time"].form-control {
	padding-bottom: 20px;
}

.booking-form input[type="date"].form-control:invalid,
.booking-form input[type="time"].form-control:invalid {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form input[type="date"].form-control+.form-label,
.booking-form input[type="time"].form-control+.form-label {
	color: #1a1b1d;
	opacity: 1;
}

.booking-form select.form-control {
	padding-bottom: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control option {
	color: #1a1b1d;
}

.booking-form select.form-control:invalid {
	color: rgba(255, 255, 255, 0.3);
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 26px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: rgba(255, 255, 255, 0.3);
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-group.input-not-empty select.form-control+.select-arrow {
	color: #fff;
}

.booking-form select.form-control~.form-label {
	color: #1a1b1d;
	opacity: 1;
}

.booking-form .form-btn {
	margin-top: 10px;
}

.booking-form .submit-btn {
	font-weight: 700;
	height: 55px;
	color: #1a1b1d;
	/* background-color: #ffc600; */
    background-color: #0d6efd;
	font-size: 18px;
	border-radius: 0px;
	width: 100%;
	border: none;
}